    <!DOCTYPE html>
    <html lang="en">
    <h1>TinyApp</h1>
    <a href='#'>Create New TinyURL</a>
    <form method="POST" action="/login/">
      <div class="form-group mb-2">
        <label for="username">username:</label>
        <input class="form-control" type= "text" name="username" placeholder="Enter a new username"/>
        <button type="submit" class="btn btn-primary">Save Username</button>
    </div>
  </form>
