<h1>TinyApp</h1>
<% if (user) { %>
<b>Currently logged in:</b> <%= user.email%></b>
<form method="POST" action="/logout/">
  <button type="logout" class="btn btn-outline-secondary">Logout</button>
</form>
<button onclick="location.href='/urls/new'" type="button">Create New Tiny Url</button>
<button onclick="location.href='/urls'" type="button">My Urls</button>
  <% } else { %>
<button onclick="location.href='/register'" type="button">Register</button>
<button onclick="location.href='/login'" type="button">Login</button>
<% } %>


