<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ../views/partials/_header %>
  <h3>My URLs</h3>
  <ul class ="list-group list-group-flush">
    <%for (url in urls) {%>
    <li class="list-group-item" style="width:500px"/> Short Url: <b> <%= url %></b> for long Url: <b><%=': '+urls[url].longURL%></b>
    <form method="POST" action="/urls/<%= url %>/delete">
      <input type="submit" value="Delete" class="btn btn-outline-danger">
      <button onclick="location.href='/urls/<%= url %>'" type="button">Edit</button>
    </li>
    <% }; %>
  </ul>
</body>
</html>