<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/partials/_header %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <form method="POST" action="/register">
    <div class="form-group mb-2">
      <label for="email">Enter an email and password to register:</label>
      <input class="form-control" type= "text" name="email" placeholder="Enter email address" style="width:300px"/>
      <input class="form-control" type= password name="password" placeholder="Enter password" style="width:300px"/>
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</body>
</html>